$body-font-stack: 'Helvetica Neue', 'Open Sans', sans-serif;
$body-color: #fff;
$heading-font-stack: 'din-condensed-web', 'Helvetica Neue', 'Open Sans', sans-serif;
$heading-color: #fff;
$background-color: #31c572;
$interaction-color: #49c463;
$danger-color: #d9534f;
$danger-hover-color: #c9302c;

html {
  margin-top: 20px;
}

body {
  font-family: $body-font-stack;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 1.45;
  background-color: $background-color;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
  font-weight: 700;
  color: $heading-color;
}

a {
  color: $danger-color;
  text-decoration: underline;
}

p, img {
  margin-bottom: 1.5em;
}

img {
  @extend .img-responsive;
}

.more-info {
  display: none;
}

.nav-toggle {
  color: $body-color;
  font-size: 2em;
  margin-right: .5em;
  margin-left: 0;
  &:hover {
    color: $body-color;
  }
  &:active {
    color: $body-color;
  }
}

.brand {
  font-family: $heading-font-stack;
  font-size: 2em;
  line-height: 1.45;
  text-transform: uppercase;
  color: $heading-color;
  text-decoration: none;
  &:hover {
    color: $body-color;
  }
}

.create-link {
  font-weight: 700;
}

.activity {
  padding: 0.5em;
  background-color: $body-color;
  border-radius: 0.5em;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
  .activity-content {
    h3 {
      color: #333;
      margin-bottom: 0;
      margin-top: 0;
    }
    h4 {
      color: #333;
    }
    p {
      color: #333;
    }
    ul {
      list-style: none;
      margin: 0;
      margin-bottom: 1em;
      padding: 0;
      li {
        color: #333;
        margin: 0;
        padding: 0;
        display: inline-block;
        font-size: 14px;
        &:after {
          content: '|';
          padding: 0 0.25em;
        }
        &:last-child:after {
          content: '';
        }
        span {
          font-size: 12px;
        }
      }
    }
    .more-info {
      margin-top: 2em;
      margin-bottom: .5em;
      p {
        color: #333;
        margin: 0;
      }
    }
    .buttons .button .btn {
      display: block;
    }
  }
}

.btn-success {
  background-color: $interaction-color;
  color: $body-color;
  // box-shadow: 2px 2px 0 darken($background-color, 10%);
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  border: 0;
  padding: 0.75em 1em;
}

.navbar-btn {
  margin-left: .5em;
}

.nfc-id {
  margin-top: 1.5em;
  text-align: center;
  img {
    max-width: 60%;
  }
}

.at-form {
  margin-bottom: 0;
  .at-signup-link {
    margin-bottom: 0;
  }
}

