<template name="activityItem">
  <div class="col-xs-12 activity">
    <div class="activity-content">
      <h3>{{title}}</h3>

      <ul>
        <li><i class="fa fa-calendar"></i> <span>{{date}}</span></li>
        <li><i class="fa fa-clock-o"></i> <span>{{time}}</span></li>
        <li><i class="fa fa-group"></i> <span>{{attendees}} / {{maxAttendees}}</span></li>
      </ul>

      <h4>Event information</h4>
      <p>{{description}}</p>

      <div class="row buttons">
        <div class="col-xs-6 button">
          {{#if ownPost }}
            <a href="{{pathFor 'activityEdit'}}" class="btn btn-danger">Edit</a>
          {{/if}}
        </div>
        <div class="col-xs-6 button">
          <div class="join-button">
            {{#if attending}}
              <a href="#" class="join btn btn-primary">Leave</a>
            {{else}}
              <a href="#" class="join btn btn-success">Join</a>
            {{/if}}
          </div>
        </div>
      </div>

      
    </div>
  </div>
</template>